<!doctype html>
<html>
  <head>
    <title>Squirrels NewsFeed</title>
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link href="http://fonts.cdnfonts.com/css/graphic-cat" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/bradley-hand-2" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/monaco" rel="stylesheet">
    <meta charset="utf-8"/>

  </head>
  <body>
    <header>
      <!--Site Name-->
      <div id="home_page">
        Squirrel News
      </div>
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img src="images/squirrellogo.png" id="redfox">SquirrelPedia
      </div>
    </header>
    <main>
      <div>
        <div id="dailySquirrel">
          <h1 class="feed_title">Squirrel of the Day</h1>
        </div> 
        <div id="newsfeed">
          <h1 class="feed_title">Spectacular Squirrel Stories!</h1>
        </div>
      </div>
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2022: SquirrelPedia Empire est. 467</p>
    </footer>
    <script src="/js/global.js"></script>
    <script src="/js/feed.js"></script>
  </body>
</html>
