<!doctype html>
<html>
  <head>
      <title>SquirrelNews</title>
      <link rel="stylesheet" type="text/css" href="/css/global.css">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <link href="http://fonts.cdnfonts.com/css/bradley-hand-2" rel="stylesheet">
      <link href="http://fonts.cdnfonts.com/css/luminari" rel="stylesheet">
  </head>
  <body>
      <h1 id="splash_title">Squirrel News</h1>
      <p class="menu_button background_button" id="fade_text">Press SPACE BAR to learn about squirrels!</p>
      <script src="/js/global.js"></script>
      <script src="/js/index.js"></script>
  </body>
</html>
