header {
	position: fixed;
	left:0px;
	top: 0px;
	height: 60px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: rgba(150,100,50);
	font-size: 30px;
	color: white;
}

body {
	background-color: bisque;
}

main {
	display: grid;
	padding-top: 60px;
	justify-content: center;
}

footer {
	position: relative;
	left: 0px;
  	bottom: 0px;
	width: 100%;
	background-color: rgba(150,100,50);
	color: blanchedalmond;
	text-align: center;
	font-size: 20px;
}

#portal_button {
	position: fixed;
	right: 30px;
	top: 10px;
	cursor: pointer;
}

a {
	color: rgb(255, 179, 0);
	text-decoration: none;
}

#redfox{
	position: relative;
	float: left;
	height: 50px;
	bottom: 5px;
}

#newsfeed {
	max-width: 600px;
	min-width: 600px;
	color:gray;
}

#home_page {
	cursor: pointer;
	margin-left: 10px;
}

.feedImage {
	max-width: 125px;
	max-height: 125px;
	margin-right:5px;
	border-style:solid;
	border-radius: 4px;
	border-color:black;
}

